<div  class="flexbox-parent">
    <div layout="row" layout-align="center center" style="min-height: 500px">
    <div flex="15">
    {{pageTitle}}
  </div>
  <div flex="15">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/time.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
 
      <div class="text-center" flex="15">Developed by:</div>
      <div class="text-center" flex="15">Nandan Singh</div>
      
    </div>
  </div>